@{
    ViewBag.Title = "Index";
}

        
<section class="visual-area">
			<img src="/content/images/img.jpg" alt="">
			<div class="caption-holder">
				<div class="caption">
					<h1>BUILDING THE DEVELOPERS OF TOMORROW</h1>
					<h2>LEARN HOW WE CAN CHANGE YOUR LIFE <span>IN TWO MONTHS</span></h2>
					<span class="do-know">DID YOU KNOW?</span>
				</div>
			</div>
		</section>
<main role="main" id="main">
<!-- free man block --> 
			<section class="freeman-block">
				<h1><span>FOR EVERY </span>  100 FRESHMEN   <span>WHO ENTER DENVER PUBLIC SCHOOLS:</span></h1>
				<ul class="list">
					<li>
						<span class="num">58</span>
						<span class="text">GRADUATE<br>IN 4 years</span>
					</li>
					<li class="item">26 GO TO<br>COLLEGE</li>
					<li class="item01">
						<span class="num">9</span>
						<span class="text">GET A<br>DEGREE</span>
					</li>
					<li class="item02">
						<span class="text right">AND ON<br>AVERAGE</span>
						<span class="percent">61%</span>
						<span class="text">of college graduates<br>do not have a job offer<br>upon graduation</span>
					</li>
				</ul>
			</section>
			<!-- seedpath skills block --> 
			<section class="seedpath-skills-block">
				<h1><span>AT SEEDPATHS WE TEACH</span><br>SOFTWARE DEVELOPMENT <em>AND</em> LIFE SKILLS,</h1>
				<span class="text"><span>AFTER WHICH,</span> WE HELP DIRECT OUR GRADUATES to employment through our recruiting business.</span>
			</section>
			<!-- seedpath what block --> 
			<section class="seedpath-what-block">
				<h1>What is seedpaths?</h1>
				<p>Unlike other boot camps, we pay our developers to learn how to code AND we give them the professional skills to get jobs and advance their career. Our recruiting business provides a direct avenue to employment for our graduates too - many of whom don't have college degrees. </p>
			</section>
			<!-- seedpath training block --> 
			<section class="seedpath-training-block">
				<h1>SOFTWARE <span>TRAINING</span></h1>
				<div class="text-frame">
					<div class="text-holder">
						<h2>DENVER SOFTWARE DEVELOPMENT 2014</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque ipsum dolor, ut sodales turpis dignissim eget. Maecenas auctor sollicitudin aliquet.</p>
						<p>Donec nulla magna, dignissim quis mauris sit amet, faucibus dapibus purus. Aliquam euismod turpis nec arcu luctus, a venenatis massa auctor. Integer facilisis commodo egestas.</p>
						<div class="btns-holder">
							<a href="#" class="link">LEARN MORE</a>
							<a href="#" class="link">APPLY</a>
						</div>
					</div>
				</div>
			</section>
			<!-- seedpath video block --> 
			<section class="seedpath-video-block">
				<div class="text-holder">
					<div class="video-holder"><img src="/content/images/video.png" alt="" width="354" height="204"></div>
					<div class="info">
						<h2>WHY WE’RE PASSIONATE</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque ipsum dolor, ut sodales turpis dignissim eget. Maecenas auctor sollicitudin aliquet. Donec nulla magna, dignissim quis mauris sit amet.</p>
						<a href="#" class="link">MORE ABOUT US</a>
					</div>
				</div>
			</section>
			<!-- seedpath success block --> 
			<section class="seedpath-success-block">
				<h1><span>SEEDPATHS</span> SUCCESS</h1>
				<div class="slideshow">
					<div class="slideset">
						<div class="slide">
							<div class="img-area">
								<div class="img-holder"><img src="/content/images/img01.jpg" alt="" width="85" height="85"></div>
								<span class="name"><a href="#">John Doe</a></span>
							</div>
							<div class="text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque ipsum dolor, ut sodales turpis dignissim eget. Maecenas auctor sollicitudin aliquet. Donec nulla magna, dignissim quis mauris sit amet.</p>
							</div>
						</div>
					</div>
					<div class="controlls">
						<a class="btn-prev" href="#">Previous</a>
						<a class="btn-next" href="#">Next</a>
					</div>
				</div>
			</section>
			<!-- seedpath footer links block --> 
			<ul class="footer-links-block">
				<li><a href="#">LEARN</a></li>
				<li class="apply"><a href="#">APPLY</a></li>
				<li class="contact"><a href="#">CONTACT</a></li>
			</ul>
			<!-- seedpath partners block --> 
			<section class="seedpath-part-block">
				<h1><span>OUR</span> PARTNERS</h1>
				<ul class="logo-list">
					<li><a href="#"><img src="/content/images/part-logo.png" alt="" width="148" height="48"></a></li>
					<li><a href="#"><img src="/content/images/part-logo01.png" alt="" width="165" height="49"></a></li>
					<li><a href="#"><img src="/content/images/part-logo02.png" alt="" width="139" height="65"></a></li>
					<li><a href="#"><img src="/content/images/part-logo03.png" alt="" width="184" height="45"></a></li>
					<li><a href="#"><img src="/content/images/part-logo04.png" alt="" width="98" height="62"></a></li>
				</ul> 
			</section>
			<!-- seedpath news block --> 
			<section class="seedpath-news-block">
				<h1>SEEDPATHS <span>IN THE NEWS:</span></h1>
				<ul class="logo-list">
					<li><a href="#"><img src="/content/images/news-logo.png" alt="" width="102" height="46"></a></li>
					<li><a href="#"><img src="/content/images/news-logo01.png" alt="" width="202" height="20"></a></li>
					<li><a href="#"><img src="/content/images/news-logo02.png" alt="" width="138" height="41"></a></li>
					<li><a href="#"><img src="/content/images/news-logo03.png" alt="" width="185" height="33"></a></li>
				</ul> 
			</section>
    </main>